%li.list-group-item
	= link_to page.name, app_page_path(page.app, page)
	%span.pull-right
		= link_to raw("<span style=\"color:#5cb85c\" class=\"glyphicon glyphicon-eye-open\"></span>"), app_page_path(page.app, page)
		= link_to raw("<span style=\"color:#f0ad4e\" class=\"glyphicon glyphicon-pencil\"></span>"), edit_app_page_path(page.app, page), methos: "PUT"
		= link_to raw("<span style=\"color:#d9534f\" class=\"glyphicon glyphicon-trash\"></span>"), app_page_path(page.app_id, page.id), method: "DELETE"