.row
	.col-md-8.col-md-offset-2
		.panel.panel-default
			.panel-heading
				= link_to raw("<span class=\"glyphicon glyphicon-chevron-left\"></span>"), apps_path(current_user), class: "btn btn-default"
				#{@app.name} Pages
			.panel-body
				= link_to("Add Page", new_app_page_path(@app), class: "btn btn-default btn-block")

			%ul.list-group
				= render (@pages || "layouts/empty_list")